@import url('assets/styles/stylesheet.css');
@import url('assets/styles/normalize.css');
@import url('assets/styles/basic.css');
@import url('assets/styles/variables.css');
@import url('assets/styles/header.css');
@import url('assets/styles/hero.css');
@import url('assets/styles/motivation.css');
@import url('assets/styles/training-types.css');
@import url('assets/styles/join-us.css');
@import url('assets/styles/location.css');
@import url('assets/styles/family.css');
