body {
    font-family: var(--font-family-base);
    background-color: var(--color-dark);
    color: var(--color-light-gray);
    font-size: 16px;
    line-height: 1.75;
}

.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
}

h1,
h2,
h3,
h4,
h5,
h6,
li {
    color: var(--color-light);
    text-transform: uppercase;
    font-weight: bold;
}

a {
    text-decoration: none;
    background-color: transparent;
    color: var(--color-light);
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    text-transform: uppercase;
    border: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
