body {
  font-family: var(--font-family-base);
  background-color: var(--color-dark);
  color: var(--color-light-gray);
  font-size: 16px;
  line-height: 1.75;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
li {
  color: var(--color-light);
  text-transform: uppercase;
  font-weight: bold;
}

a {
  text-decoration: none;
  background-color: transparent;
  color: var(--color-light);
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  text-transform: uppercase;
  border: none;
}

.button.transparent {
  display: inline-flex;
  padding: 14px 80px 14px 30px;
  border: solid 1px;
  font-weight: 700;
  font-size: max(0.68vw, 13px);
  line-height: 200%;
  letter-spacing: 0.1em;
  position: relative;
  background-color: transparent;
  border-color: var(--color-light);
  color: var(--color-light);
}

.button.transparent::after {
  content: "";
  height: 100%;
  aspect-ratio: 1;
  right: 0;
  position: absolute;
  background: url(../svg/arrow_45.svg) center/70% no-repeat;
  border-radius: 50%;
  background-color: transparent;
  border: solid 1px;
  border-color: var(--color-light);
}

.button.transparent:hover {
  color: var(--color-dark);
  background-color: var(--color-light-gray);
  transition-duration: 0.2s;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title-big {
  font-size: clamp(24px, 3.12vw, 60px);
  position: relative;
  z-index: 0;
}

.backdrop-title.centered::after {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  pointer-events: none;
  content: attr(data-title);
  position: absolute;
  color: transparent;
  z-index: -1;
  -webkit-text-stroke: 1px var(--color-dark-gray);
}

.input {
  width: 100%;
  height: var(--input-height);
  padding-inline: 25px;
  color: var(--color-light);
  background-color: transparent;
  border: 1px solid var(--color-dark-gray);
  border-radius: var(--border-radius);
}

.input::placeholder,
select.input:invalid {
  color: var(--color-light-gray);
}

.input:hover {
  border-color: var(--color-light);
}

.input:focus {
  color: var(--color-dark);
  background-color: var(--color-light-gray);
  outline: none;
}

