.family {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 130px;
}

.family-body-slider {
  display: flex;
  justify-content: center;
  column-gap: 26px;
  margin-top: 60px;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
}

.slider-image {
  scroll-snap-align: start;
}

@media (max-width: 1000px) {
  .family {
    padding-top: 50px;
  }

  .slider-image {
    height: 360px;
    width: auto;
  }
}

@media (max-width: 600px) {
  .family-body-slider {
    column-gap: 15px;
  }

  .family-body {
    padding-inline: 40px;
    text-align: center;
  }

  .family-body-slider {
    margin-top: 30px;
  }

 .slider-image {
    height: 200px;
    width: auto;
  } 
}
