.location {
  display: flex;
  justify-content: center;
}

.location-img {
  width: 50vw;
}

.location-body {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}