.motivation-item:nth-child(even) .motivation-card {
    flex-direction: row-reverse;
    background-color: var(--color-dark-alternative);
    padding-inline: 200px;
}

.motivation-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.motivation-card {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10.72vw;
}

.card-title {
    display: flex;
    position: relative;
    font-size: clamp(20px, 2vw, 40px);
    font-weight: 700;
    line-height: 1.3;
}

.card-title::before {
    content: "";
    position: absolute;
    right: calc(100%);
    background: url(../svg/plus.svg) center/contain no-repeat;
    background-color: transparent;
    width: 1.35vw;
    aspect-ratio: 1;
}

.card-title::after {
    content: attr(data-title);
    position: absolute;
    font-family: var(--font-family-accent);
    color: transparent;
    font-size: 2.8em;
    z-index: -1;
    top: -0.45em;
    left: -0.6em;
    -webkit-text-stroke: 1px var(--color-dark-gray);
    text-stroke: 1px var(--color-dark-gray);
}

.card-desc-wrapper {
    max-width: 20.1vw;
    font-weight: 300;
    text-transform: none;
    font-size: 0.83vw;
    line-height: 1.75;
    letter-spacing: 0.05em;
    color: var(--color-light-gray);
}

.motivation-card-img {
    margin-block: -40px;
}

.card-button {
    margin-top: 1em;
}

@media (max-width: 1024px) {
    .motivation-card-img {
        max-width: 100%;
        margin-block: 0;
    }
}

@media (max-width: 950px) {
    .motivation-card {
        flex-direction: column;
        row-gap: 20px;
        padding-top: 50px;
        padding-inline: 15px;
    }

    .motivation-item:nth-child(even) .motivation-card {
        flex-direction: column;
        padding-inline: 15px;
    }
}
