.motivation-item:nth-child(even) .motivation-card {
    flex-direction: row-reverse;
}

.motivation-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.motivation-card {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10.72vw;
}

.card-title {
    display: flex;
    position: relative;
}

.card-title::before {
    content: "";
    position: absolute;
    right: calc(100%);
    background: url(../svg/plus.svg) center/contain no-repeat;
    background-color: transparent;
    width: 1.35vw;
    aspect-ratio: 1;
}

.card-title::after {
    content: attr(data-title);
    position: absolute;
    font-family: var(--font-family-accent);
    color: transparent;
    font-size: 2.8em;
    z-index: -1;
    top: -0.4em;
    left: -0.6em;
    -webkit-text-stroke: 1px var(--color-dark-gray);
    text-stroke: 1px var(--color-dark-gray);
}

.card-title {
    font-size: 2vw;
    font-weight: 700;
    line-height: 1.3;
}

.card-desc-wrapper {
    max-width: 20.1vw;
    font-weight: 300;
    text-transform: none;
    font-size: 0.83vw;
    line-height: 1.75;
    letter-spacing: 0.05em;
    color: var(--color-light-gray);
}

.motivation-card-img {
    margin-block: -40px;
}

.card-button {
    margin-top: 1em;
}
